/* line 1, /Users/felixlehodey/code/flehodey/portfolio/source/stylesheets/components/skillscard.scss */
.skill_tab-background {
  background-color: white;
  opacity: 0.8;
  text-align: center;
  border-radius: 10px; }
