.avatar-visit {
    width: 95px;
    height: 90px;
    border-radius: 0px;
    box-shadow: 0 1px 2px transparent;
    border: white 1px solid;
    margin-top: 0px;
    margin-left: 195px;
}
.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 200px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 62px;
  height: 50px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.circular {
width: 190px;
height: 190px;
border-radius: 120px;
-webkit-border-radius: 120px;
-moz-border-radius: 120px;
background: url(/sites/default/files/photo.jpg) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
text-align:center;
}

