<div class="banner">
</div>

<div class="profile-header-wrapper" >
  <div class="container">
    <div class="row profile-header display-content">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <img alt="Felix le hodey" class= " circular" src="images/IMG_0925.jpg">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-7">
        <h1>Felix le Hodey
          <a href="https://www.linkedin.com/in/felix-le-hodey-37b13249?trk=nav_responsive_tab_profile" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="mailto:contact felixlehodey@gmail.com" onclick="this.href=this.href.replace(/contact /,'')">
            <i class="fa fa-envelope"></i>
          </a>
        </h1>
        <h2>Business oriented student and Junior Fullstack Developer</h2>
        <p>Welcome to my online resume</p>
      </div>
    </div>
    <h2>
      Summary
    </h2>
    <p>
      After having completed my Bachelor in Business Administration, I decided to learn web developer skills. I'm now working on my project but always seeking for new challenges !
    </p>
  </div>
</div>

<h2 class="page_headers">
  Education
</h2>



<div class="container ">
  <div class="row padded">
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="http://www.vesalius.edu/"" class="card">
          <div class="card-category">Vesalius College</div>
          <div class="card-description">
            <p>2011 - 2015 Brussels</p>
            <p>Bachelor in Business Administration </p>
          </div>
          <img class="card-company avatar-visit vesalius" src="images/vesalius.jpeg">
        </a>
      </div>
    </div><!-- insert <div class="card"> -->

    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">


        <a href="https://www.lewagon.com/"" class="card">
          <div class="card-category">Le Wagon</div>
          <div class="card-description">
            <p>2016</p>
            <p>full stack web-developer bootcamp.</p>
          </div>
          <img class="card-company avatar-visit" src="images/lewagon.png">
        </a>
      </div>
    </div><!-- insert <div class="card"> -->
  </div>
</div>


<h2 class="page_headers">
  Professional experience
</h2>
<div class="container ">
  <div class="row padded">
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="http://www.grameen.com/"" class="card">
          <div class="card-category">Grameen Bank</div>
          <div class="card-description">
            <p>May - June 2014 - Bangladesh</p>
            <p> Internship</p>
          </div>

          <img class="card-company avatar-visit grameen" src="images/grameen-bank.jpg">`

        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="http://www.mazzei.it/"" class="card">
          <div class="card-category">Marchesi Mazzei</div>
          <div class="card-description">
            <p>June - July 2015 - Italy</p>
            <p>Internship in wine production and sales</p>
          </div>
          <img class="card-company avatar-visit mazzei" src="images/logo_mazzei.jpg">
          <!-- insert <div class="card"> -->
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="http://www.adswizz.com/"" class="card">
          <div class="card-category">Adswizz</div>
          <div class="card-description">
            <p>June - 2013 - Brussels</p>
            <p>Internship</p>
          </div>
          <img class="card-company avatar-visit adswizz" src="images/adswizz.jpg">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="http://ipmadvertising.be/fr/"" class="card">
          <div class="card-category">IPM </div>
          <div class="card-description">
            <p>Feb - May 2013 - Belgium</p>
            <p>Internship - Business Development</p>
          </div>
          <img class="card-company avatar-visit ipm" src="images/logo-ipm.jpg">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-4">
      <div class="top-card">
        <a href="https://itunes.apple.com/us/app/skip-q/id1092605935?ls=1&mt=8"" class="card">
          <div class="card-category">Skip-Q
          </div>
          <div class="card-description">
            <p>March - April 2016 - Belgium</p>
            <p>Internship - Business Development</p>
          </div>
          <img class=" avatar-visit skip" src="images/skip-q.png">
        </a>
      </div>
    </div>
    </div>







    <h2 class="page_skills">
      Developers Skills
    </h2>

    <div class="skill_tab-background">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-3">
          <div class="skill-set">
            <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
            <h4>Ruby &amp; RoR</h4>
          </div>
          <ul class="fa-ul">
            <li>Ruby <span class="rating"></span></li>
            <li>Ruby on Rails <span class="rating"></span></li>
            <li>PostgreSQL <span class="rating"></span></li>
            <li>RESTful API <span class="rating"></span></li>
            <li>RSpec <span class="rating"></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
          <div class="skill-set">
            <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
            <h4>html &amp; css</h4>
          </div>
          <ul class="fa-ul">
            <li>HTML5 <span class="rating"></span></li>
            <li>CSS3 <span class="rating"></span></li>
            <li>SASS <span class="rating"></span></li>
            <li>Bootstrap <span class="rating"></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
          <div class="skill-set">
            <img src="images/js-icon.png" alt="Javascript" width="50px" style="padding: 10px;">
            <h4>Javascript</h4>
          </div>
          <ul class="fa-ul">
            <li>Javascript <span class="rating"></span></li>
            <li>jQuery <span class="rating"></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-3">
          <div class="skill-set">
            <i class="fa fa-github" style="font-size: 30px; padding: 10px;"></i>
            <h4>Tools</h4>
          </div>
          <ul class="fa-ul skills-ul">
            <li>Git &amp; Github <span class="rating"></span></li>
            <li>Heroku <span class="rating"></span></li>
            <li>AWS S3 <span class="rating"></span></li>
            <li>MAMP <span class="rating"></span></li>
            <li>Middleman <span class="rating"></span></li>
          </ul>
        </div>
      </div>
    </div>


    <h2>  </h2>



